{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}{{ result.name }}の詳細情報{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
<div class="book-form mt-5">
    <img src="{{ restaurant.img_url }}" class="card-img-top" alt="...">
    <div class="card-body p-0 mt-2">
        <h5 class="card-title mb-1" style="text-align:center; font-weight:bold;">{{ restaurant.name}}</h5>
        <p class="card-text" style="font-size:1em; text-align:center;">{{ restaurant.detail}}</p>
    </div>

    <ul class="list-group list-group-flush mt-3">
        <li class="list-group-item mt-2" style=" padding:6px 20px">{{ restaurant.tel}}</li>
        <li class="list-group-item" style="padding:6px 20px">{{ restaurant.address}}</li>
    </ul>

    <div class="card-body ">
        <form class="" action='/restaurant/detail/' method='post'>

            <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
            <div class="row my">
              <div style="margin:0 auto;">
            <a href="/restaurant/cancel/complete/{{ trade.id}}" class="btn btn-warning mt-5">キャンセルする</a>
              </div>
            </div>


        </form>
        {% if error_message %}
        <div class="alert-warning">
            {{ error_message }}
        </div>
        {% endif %}
    </div>
</div>

<style>
.alert-warning{
  background-color: transparent;
  color: red;
  text-align: center;
}
   .book-form{
    margin: 0 auto;
    padding: 20px;
    background-color: #343a4061;
    border: 2px solid gray;
    height: 60%;
    width: 80%;
    border-radius: 10px;
  }

  .btn {
    margin: 0 auto;
  }
  .btn-primary {
    background-color: #ffc107;
    border: none;
    text-align: center;
    display: block;
  }

  .form-control {
    width: 100px;
    float: left
  }

  .my a{
    margin:0 auto;
    display: block;
    width:130px;
    font-size: 0.9em;
  }
</style>

{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
