{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}{{ result.name }}の詳細情報{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}

    <div class="book-form mt-5">
        <img src="https://dummyimage.com/320x240/ccc/fff.png&text=img1" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ restaurant.name}}</h5>
            <p class="card-text">{{ restaurant.detail}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ restaurant.tel}}</li>
            <li class="list-group-item">{{ restaurant.address}}</li>
        </ul>

        <div class="card-body">
            <form class=“” action='/restaurant/detail/' method='post'>
                <select id="select1a" class="form-control" name="people_num">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}"><span>人</span>
            <button type=“submit” class="btn btn-primary mb-2">予約する</button>
            </form>
        </div>
    </div>

    <style>
       .book-form{
        margin: 0 auto;
        padding: 20px;
        background-color: #343a40;
        border: 2px solid gray;
        height: 60%;
        width: 60%;
      }

      .btn {
        text-align: center;
        display: inline-block;
        margin: 20px auto;
      }
      .btn-primary {
        background-color: #ffc107;
      }

      .form-control {
        width: 100px;
      }

      span {

      }

    </style>

{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
