{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
    {# 背景動画を表示させるスタイルを読み込みます。#}
    <link href="/assets/css/video.css" rel="stylesheet">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
<h2 style="text-align: center;padding-top:30px;">マイページ</h2>
    <div class="card mt-5">

        {# 予約がある場合#}
        {% if reserves %}
            {% for reserve in reserves %}
            <h5 class="card-header">予約状況</h5>
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">

                                <h5 class="card-title">店舗名：{{ reserve.name }}</h5>
                                <h5 class="card-title">予約人数：{{ reserve.people_num }}</h5>
                                <h5 class="card-title">申し込み人数：{{ reserve.people_num }}</h5>
                                <h5 class="card-title">予約状況：{{ reserve.reserve_num }}/{{ reserve.capacity }}</h5>
                                <h5 class="card-title">予約時間：{{ reserve.date }}</h5>
                                <a href="/restaurant/cancel/{{ reserve.trade_id }}" class="btn btn-warning" style="float:right;">キャンセルする</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {# 予約がない場合#}
        {% else %}
            <h5 class="card-header">予約状況</h5>
            <div class="card-body">
                <p class="card-text">現在予約はありません</p>
                <a href="/search/" class="btn btn-warning">予約をする</a>
            </div>

        {% endif %}
    </div>

    <hr>
        <div class="row">
    {% for event in events %}
    <div class="card-group col-6 col-xs-6 col-sm-4 col-md-3 p-0">
        <div class="card h-100">
            <img src="{{ event.img_url }}" class="card-img-top" alt="..." style="width:95%;height:95%;object-fit:cover;">
            <div class="card-img-overlay pt-0 pl-0 pr-0">
              <div style="background-color:rgba(0, 0, 0, 0.8);">
              <a href="/restaurant/list/{{ event.id }}">
                  <h5 style="font-size:1.8vw;" class="card-title">{{ event.name }}</h5>
                  <p style="font-size:1.5vw;" class="card-text">{{ event.place }}</p>
              </a>
            </div>
            </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <hr>

{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
